<div class="mt-4 bg-gray-100 flex flex-col p-3 rounded-md">
  <div class="flex flex-row items-center justify-between">
    <div class="flex-1">
      <span>{{ event.name }}</span>
    </div>
    <div class="flex flex-row items-center gap-2">
      <span>{{ event.type === 1 ? 'Exclusivo' : 'Compartilhado' }}</span>
      <button *ngIf="event.isOwner" [matMenuTriggerFor]="menu">
        <mat-icon>more_vert</mat-icon>
      </button>
    </div>
  </div>
  <div class="mt-4">
    <span class="block">Local: {{ event.local }}</span>
    <span class="block">Data: {{ event.date | date: 'dd/MM/yyyy' }}</span>
    <span>Descrição: {{ event.description }}</span>
  </div>

  <mat-menu #menu="matMenu">
    <button mat-menu-item *ngIf="event.type === 2" (click)="sharedEventDialog(event.id)">Compartilhar</button>
    <button mat-menu-item (click)="openDialog(event.id)">Editar</button>
    <button mat-menu-item (click)="removeEvent(event.id)">Excluir</button>
  </mat-menu>
</div>
